
@import 'react-calendar/dist/Calendar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.react-calendar {
  width: auto;
  max-width: 100%;
}

.react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
